<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="clash.manage.dao.ClashRulesMapper">

    <select id="list" resultType="clash.manage.model.ClashRules">
        SELECT *
        FROM clash_rules
        WHERE del = 1
        AND ver in
        <foreach collection="verList" item="ver" separator="," open="(" close=")">
            #{ver}
        </foreach>
    </select>
</mapper>