<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="clash.manage.dao.ClashProxyGroupsMapper" >

    <select id="list" resultType="clash.manage.model.ClashProxyGroups">
        SELECT *
        FROM clash_proxy_groups
        WHERE del = 1
    </select>
</mapper>